{
  "databse": {
    "host": "localhost",
    "port": 3306,
    "user": "root",
    "password": "your_password",
    "name": "your_db"
  },
  "server": {
    "port": 3000
  },
  "jwt": {
    "secret": "your secret string",
    "expiry_hours": 24
  }
}
